@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

body {
  margin: 0;
}

.header {
  display: flex;
  background-color: white;
  height: 10vh;
  width: 100%;
  position: fixed;
  text-align: center;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
  display: flex;
  margin: 0 auto;
}

.phone {
  font-family: "Comfortaa";
  text-decoration: none;
  font-weight: 700;
  color: black;
  align-self: center;
}

.logo {
  background-image: url(../public/img/GB_CAMPOLIDE_black.png);
  width: 260px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-left: 50px;
}

.phone-icon-lg {
  background-image: url(../public/img/icons/phone_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15%;
  width: 20px;
}

.whats-icon-lg {
  background-image: url(../public/img/icons/whats_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1vh;
  width: 24px;
}

.phone-icon {
  display: none;
  background-image: url(../public/img/icons/phone_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4%;
  width: 20px;
}

.whats-icon {
  display: none;
  background-image: url(../public/img/icons/whats_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2%;
  width: 20px;
}

.logo:hover {
  background-image: url(../public/img/GB_CAMPOLIDE_blue.png);
}

.header-link {
  font-family: "Comfortaa";
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: black;
  align-self: center;
  margin-left: 5%;
  width: auto;
}

.first-link {
  margin-left: 15%;
}

.last-link {
  font-family: "Comfortaa";
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: black;
  align-self: center;
  margin-left: 1vh;
}

a:hover {
  color: blue;
}

@media only screen and (max-width: 800px) {
  .header-link {
    font-size: 12px;
    margin-left: 2%;
  }
  .logo {
    background-image: url(../public/img/gbcamp_logo.png);
    margin-left: 2vh;
    width: 60px;
  }
  .logo:hover {
    background-image: url(../public/img/gbcamp_logo.png);
    margin-left: 2vh;
    width: 60px;
  }
  .first-link {
    padding-left: 3%;
  }
  .last-link {
    display: none !important;
  }
  .phone-icon-lg {
    display: none;
  }
  .whats-icon-lg {
    display: none;
  }
  .phone-icon {
    display: flex !important;
  }
  .whats-icon {
    display: flex !important;
  }
}

.hero-content {
  margin-left: 30vh;
  margin-top: 16vh;
  color: white;
  font-weight: 600;
  line-height: 1;
  width: 430px;
}

.hero-title {
  font-family: "Comfortaa";
  font-size: 4rem;
}
.hero-slogan {
  color: white;
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  margin: -8vh 0 0 30vh;
}

.hero-background-image {
  width: 100%;
  background-image: url(../public/img/hero_background.png);
  position: relative;
  overflow: hidden;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% auto;
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  .hero-background-image {
    height: 38vh;
  }
  .hero-title {
    font-size: 3rem;
    padding: 4px;
  }
  .hero-slogan {
    font-size: 1rem;
    text-align: left;
    margin: 0 0 0 24vh;
  }
  .hero-content {
    margin: 12vh 0 0 1vh;
    width: auto;
  }
}

.freeclass {
  display: flex;
  margin: -7vh 0 0 2vh;
  background-color: #2b6cb0;
  color: white;
  width: 80%;
  box-shadow: 0 25px 50px -12px rgb(0, 0, 0);
  text-align: center;
  border-radius: 40px;
}

.freeclass-content {
  display: flex;
  margin: 0 auto;
}

.freeclass-slogan {
  width: 500px;
  font-size: 28px;
  float: left;
}

.whatsapp {
  background-image: url(../public/img/icons/whats_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 9%;
  width: 40px;
}

.instagram {
  background-image: url(../public/img/icons/insta_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3%;
  width: 40px;
}
.facebook {
  background-image: url(../public/img/icons/facebook_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3%;
  width: 40px;
}

@media only screen and (max-width: 800px) {
  .freeclass {
    width: 90%;
    padding: 10px;
    margin-top: -3vh;
  }
  .freeclass-content {
    width: auto;
  }
  .freeclass-slogan {
    font-size: 18px;
    margin: 0;
    width: 30vh;
  }
  .whatsapp {
    margin-left: 0;
    width: 20px;
  }
  .instagram,
  .facebook {
    width: 20px;
  }
}

.aboutGB {
  width: 100%;
  color: white;
  background-image: url(../public/img/aboutGB_backgound.jpg);
  height: 60vh;
  background-position: center;
  background-size: 100%;
  margin-top: 4vh;
  background-repeat: no-repeat;
}

.black-filter {
  background-color: rgba(0, 0, 0, 0.514);
  height: 60vh;
}

.about-content {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6rem;
}

.about-title {
  width: auto;
  font-family: "Comfortaa";
  font-size: 50px;
  font-weight: 500;
  padding: 0;
  margin-top: 14vh;
  text-align: right;
}

.about-desc {
  width: auto;
  text-align: right;
}

.right-div {
  width: 400px;
  text-align: justify;
  margin-top: 14vh;
}

.h-20 {
  display: inline-block;
  width: 100%;
  height: 16vh;
}

@media only screen and (max-width: 800px) {
  .aboutGB {
    background-size: 170%;
    height: 64vh;
    margin: 2vh 0 0 0;
  }

  .black-filter {
    height: 64vh;
  }
  .about-content {
    display: inline-block;
  }
  .about-title {
    width: auto;
    font-family: "Comfortaa";
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 8vh 0 0 2vh;
    text-align: left;
  }
  .about-desc {
    width: auto;
    font-size: 18px;
    color: rgb(156, 156, 156);
    padding: 0;
    text-align: left;
    margin: 0 0 0 2vh;
  }
  .right-div {
    width: auto;
    text-align: justify;
    margin: 2vh 2vh 0 2vh;
    font-size: 14px;
  }
  .h-20 {
    height: 6vh;
  }
}

.systemGB {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 8vh;
}

.systemGB-title {
  width: 100%;
  margin-top: 10vh;
  color: rgb(66, 66, 66);
  font-family: "Comfortaa";
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.systemGB-ml {
  margin-left: 10%;
}

.systemGB-col {
  box-shadow: 2px 2px 8px #c9c9c9, -2px -2px 8px #c9c9c9;
  width: 60%;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border-color: #2b6cb0;
  border-style: solid;
  border-width: 0 0 6px;
  background-color: white;
}

.systemGB-subtittle {
  text-align: center;
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 24px;
  color: rgb(66, 66, 66);
}

.systemGB-p {
  font-weight: 300;
  font-family: "Open Sans";
}

@media only screen and (max-width: 800px) {
  .systemGB {
    display: block;
  }

  .systemGB-col {
    width: auto;
    margin: 0 2vh 4vh 2vh;
  }

  .systemGB-p {
    font-size: 14px;
  }

  .systemGB-ml {
    margin-left: 0;
  }
}

.contact {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: rgb(22, 22, 22);
  margin-top: 10vh;
  width: 100%;
}

.contact-col {
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0 10px 0;
  align-self: center;
}

.contact-logo {
  width: 120px;
  transition: 0.3s;
}

.contact-logo:hover {
  width: 130px;
}

.contact-tittle {
  color: white;
  font-family: "Comfortaa";
}

.footer {
  text-align: right;
  background-color: black;
  color: rgb(70, 70, 70);
  padding: 4px 40px;
  font-size: 10px;
  margin-top: -6px;
}

.footer-link {
  color: rgb(70, 70, 70);
}

.footer-link:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 800px) {
  .contact {
    display: block;
  }
  .contact-logo:hover {
    width: 120px;
  }
  .footer {
    text-align: center;
  }
}

.img-schedule {
  width: 60%;
  margin: 20vh 0 0 20%;
  text-align: center;
  background-color: black;
}

.p-schedule {
  width: 59%;
  text-align: justify;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .img-schedule {
    margin: 20vh 0 0 0;
    width: 100%;
  }
  .p-schedule {
    width: 90%;
  }
}

.gallery {
  display: inline-block;
  width: 80%;
  margin: 10vh 0 0 10%;
}

.gallery-title {
  width: auto;
  margin-top: 10vh;
  color: rgb(66, 66, 66);
  font-family: "Comfortaa";
  font-size: 34px;
  font-weight: 700;
}

.img-gallery {
  float: left;
  align-items: flex-start;
  width: 32%;
  margin: 2px;
}

@media only screen and (max-width: 800px) {
  .gallery-title {
    margin-top: 4vh;
    text-align: center;
  }
  .img-gallery {
    width: 100%;
  }
}
