@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

body {
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  background-color: white;
  height: 10vh;
  text-align: center;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
}

.first-link {
  padding-left: 5%;
}
.last-link {
  padding-left: 5%;
}

.last-link:hover {
  color: #2b6cb0;
}

.logo {
  background-image: url(../public/img/GB_CAMPOLIDE_black.png);
  width: 260px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-left: 50px;
}

.logo:hover {
  background-image: url(../public/img/GB_CAMPOLIDE_blue.png);
}

.header-link {
  font-family: "Comfortaa";
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: black;
  align-self: center;
  margin-left: 5%;
  width: auto;
}

a:hover {
  color: blue;
}

@media only screen and (max-device-width: 800px) {
  .header-link {
    font-size: 12px;
  }
  .logo {
    width: 130px;
  }
}

.hero-content {
  margin-left: 30vh;
  margin-top: 20vh;
  color: white;
  font-weight: 600;
  line-height: 1;
  width: 430px;
}

.hero-title {
  font-family: "Comfortaa";
  font-size: 4rem;
}
.hero-slogan {
  font-size: 2rem;
  margin-top: -50px;
  text-align: right;
}

.hero-background-image {
  background-image: url(../public/img/hero_background.png);
  z-index: -1;
  height: 70vh;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: 120% auto;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
  .hero-content {
    margin-left: 2px;
  }
  .hero-background-image {
    height: auto;
    max-width: 800px;
    position: none;
    overflow: none;
    background-position: none;
  }
}

.freeclass {
  display: flex;
  background-color: #2b6cb0;
  padding: 14px;
  color: white;
  font-size: 24px;
  width: 70%;
  margin-top: -9vh;
  box-shadow: 0 25px 50px -12px rgb(0, 0, 0);
  text-align: center;
  padding-left: 12%;
}

.freeclass-slogan {
  float: left;
}

.icon {
  width: 40px;
  align-self: center;
  margin-left: 5vh;
}

@media only screen and (max-width: 800px) {
  .freeclass {
    width: 100%;
  }
}

.aboutGB {
  width: 100%;
  color: white;
  background-image: url(../public/img/aboutGB_backgound.jpg);
  z-index: -1;
  height: 60vh;
  background-position: center;
  background-size: 100%;
  margin-top: 4vh;
  background-repeat: no-repeat;
}

.black-filter {
  background-color: rgba(0, 0, 0, 0.514);
  height: 60vh;
}

.about-content {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6rem;
}

.about-title {
  width: auto;
  font-family: "Comfortaa";
  font-size: 50px;
  font-weight: 500;
  padding: 0;
  margin-top: 14vh;
  text-align: right;
}

.about-desc {
  width: auto;
  padding: 0 0 0 32.5vh;
  text-align: right;
}

.right-div {
  width: 400px;
  text-align: justify;
  margin-top: 14vh;
}

.h-20 {
  display: inline-block;
  width: 100%;
  height: 16vh;
}

@media only screen and (max-width: 800px) {
  .aboutGB {
    background-size: 200%;
    height: 46vh;
  }

  .black-filter {
    height: 46vh;
  }
  .about-content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
  .about-title {
    width: auto;
    font-family: "Comfortaa";
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 2vh 0 0 25%;
    text-align: left;
  }
  .about-desc {
    width: auto;
    font-size: 18px;
    color: rgb(156, 156, 156);
    padding: 0;
    text-align: left;
    margin: 0 0 0 25%;
  }
  .right-div {
    width: 400px;
    text-align: left;
    margin: 0 0 0 25%;
    font-size: 12px;
  }
}

.systemGB {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 8vh;
}

.systemGB-title {
  width: auto;
  margin-top: 10vh;
  color: rgb(66, 66, 66);
  font-family: "Comfortaa";
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.systemGB-ml {
  margin-left: 10%;
}

.systemGB-col {
  box-shadow: 2px 2px 8px #c9c9c9, -2px -2px 8px #c9c9c9;
  width: 60%;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border-color: #2b6cb0;
  border-style: solid;
  border-width: 0 0 6px;
  background-color: white;
}

.systemGB-subtittle {
  text-align: center;
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 24px;
  color: rgb(66, 66, 66);
}

p,
.systemGB {
  font-weight: 300;
  font-family: "Open Sans";
  font-size: 14px;
}

@media only screen and (max-width: 800px) {
  .systemGB {
    display: block;
  }

  .systemGB-col {
    width: 100%;
    margin-bottom: 4vh;
  }
}

.contact {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 6rem;
  background-color: rgb(22, 22, 22);
  margin-top: 10vh;
  width: 100%;
}

.contact-col {
  margin-left: 9%;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  align-self: center;
}

.contact-logo {
  width: 120px;
  transition: 0.3s;
}

.contact-logo:hover {
  width: 130px;
}

.contact-tittle {
  color: white;
  font-family: "Comfortaa";
}

.footer {
  text-align: right;
  background-color: black;
  color: rgb(185, 184, 184);
  padding: 4px 40px;
  font-size: 12px;
  margin-top: -6px;
}

.footer-link {
  color: rgb(185, 184, 184);
}

.footer-link:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 800px) {
  .contact {
    display: block;
  }
}

.img-schedule {
  width: 60%;
  margin: 20vh 0 0 20%;
  text-align: center;
  background-color: black;
}

.gallery {
  display: inline-block;
  width: 80%;
  margin: 10vh 0 0 10%;
}

.gallery-title {
  width: auto;
  margin-top: 10vh;
  color: rgb(66, 66, 66);
  font-family: "Comfortaa";
  font-size: 34px;
  font-weight: 700;
}

.img-gallery {
  float: left;
  align-items: flex-start;
  width: 32%;
  margin: 2px;
}
